<div class = "row  show-hide-message">
    <div [ngClass] ="messageClass">
        {{ message }}
    </div>
</div>
<div class = "container">
    <div class="card">
        <div class="card-header bg-transparent">
            <h2>{{ jokeDetail?.title }}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ jokeDetail?.content }}</p>
        </div>
        <div class="card-footer bg-transparent">
            <div *ngIf="!authStatus">
                <button type="button" class="btn btn-primary" (click) = "likes()">Like: {{ jokeDetail?.likes.length }}</button>
                <button type="button" class="btn btn-danger" (click) = "dislikes()">Dislike: {{ jokeDetail?.dislikes.length }}</button>
                <div id ="creator">
                    <h6>Created By <a routerLink="/profile/{{ jokeDetail?.username }}">{{ jokeDetail?.username }}</a></h6>
                </div>
            </div>
            <div *ngIf="authStatus">
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <app-comment></app-comment>
</div>


