#form {
    height: 500px;
    border: 2px solid rgb(255, 200, 0);
    width: 50%; 
    margin: 0 auto;
    margin-top: 5%;
    padding: 3%;
}

.shadowButtons {
    height: 35px;
    width: 100px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 6px 90px 0 rgba(0,0,0,0.19);
}
