.jumbotron {
    text-align: center;
    background-color: transparent;
}

.navbar {
    background-image: linear-gradient(to bottom, #72d1a9 0%,#eee 100%);
    border: 1px solid #e5e5e5;
}
  
.col-lg-4{
    background-image: linear-gradient(to bottom, #72d1a9 0%,#eee 100%);
    border: 1px solid #e5e5e5;
}