<div class="container">
    <div class="jumbotron">

        <form id="form">
            <fieldset>
                <legend>Login : </legend> <br/>
                
                <label>Username :</label> <br/>
                <input type="text"/> <br/><br/>

                <label>Password :</label> <br/>
                <input type="password"/>

                <a href="#"><p>forgotten password?</p></a>

                <input type="checkbox" name="checkbox"/>
                <label for="checkbox">Remember me</label> <br/><br/><br/>
                
                <input type="submit" class="shadowButtons" value="Enter!"/> <br/><br/>

                <a href="#"><p>Don't you have an account? Register now!</p></a>
            </fieldset>
        </form>

        <!-- <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a> -->
    </div>
</div>
