<div class="container">
    <div class="jumbotron">
        <h1 class= "page-header">Login</h1>

        <div class = "row  show-hide-message">
            <div [ngClass] ="messageClass">
                {{ message }}
            </div>
        </div>

        <form [formGroup] = "userForm" (submit) = "onLoginSubmit()">
            <div class="form-group" [ngClass]="{'has-error':userForm.controls.username.errors&&userForm.controls.username.dirty,'has-success':!userForm.controls.username.errors}">
                <label for="username" >Username</label>
                <input type="text"  id="username" class="form-control"  placeholder="username" formControlName="username">
                <div *ngIf="(userForm.controls.username.errors && userForm.controls.username.dirty)" class="alert alert-danger">
                    <div *ngIf="userForm.controls.username.errors?.required">
                        Userame is required.
                    </div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':userForm.controls.password.errors&&userForm.controls.password.dirty,'has-success':!userForm.controls.password.errors}">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"   placeholder="password" formControlName="password">
                <div *ngIf="userForm.controls.password.errors && userForm.controls.password.dirty" class="alert alert-danger">
                    <div *ngIf="userForm.controls.password.errors?.required">
                        Password is required.
                    </div>
                </div>
            </div>
            <button [disabled] = "!userForm.valid || logedIn" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

