<div class = "container">
    <div class = "row  show-hide-message">
        <div [ngClass] ="messageClass">
            {{ message }}
        </div>
    </div>
    <p>joke</p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newPost" aria-expanded="false" aria-controls="collapseExample">
        New Post
    </button>
    <div class="collapse" id="newPost">
        <div class = "jumbotron">
            <div *ngIf="loggedIn">
                <form [formGroup] = "postForm" (submit) = "createNewPost()">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control"  formControlName = "title">
                        <div *ngIf="postForm.controls.title.errors && postForm.controls.title.dirty" class="alert alert-danger">
                            <div *ngIf="postForm.controls.title.errors?.required">
                                Title is required.
                            </div>
                            <div *ngIf="postForm.controls.title.errors?.minlength && !postForm.controls.title.errors?.required">
                                Title should have at least 5 characters.
                            </div>
                            <div *ngIf="postForm.controls.title.errors?.maxlength && !postForm.controls.title.errors?.required">
                                Title should not exceed 50 characters long.
                            </div>
                        </div>
                        <label for="content">What you want to post</label>
                        <textarea class="form-control"rows="5" formControlName = "content"></textarea>
                        <div *ngIf="postForm.controls.content.errors && postForm.controls.content.dirty" class="alert alert-danger">
                            <div *ngIf="postForm.controls.content.errors?.required">
                                Content is required.
                            </div>
                            <div *ngIf="postForm.controls.content.errors?.minlength && !postForm.controls.content.errors?.required">
                                Post should have at least 50 characters.
                            </div>
                            <div *ngIf="postForm.controls.content.errors?.maxlength && !postForm.controls.content.errors?.required">
                                Post should not exceed 5000 characters long.
                            </div>
                        </div>
                    </div>
                    <p>Character Left: {{5000-postForm.get('content').value.length}}</p>
                    <button type="submit" [disabled] = "postForm.controls.content.errors || (!postForm.controls.content.dirty && !postForm.controls.title.dirty) "class="btn btn-success">Post</button>
                </form>
            </div>
            <div *ngIf="!loggedIn">
                Oops. It seems like you didn't log in.
            </div>
        </div>
    </div>
    <div>
        <ul *ngFor = "let joke of jokes">
            <li>
                <a routerLink="/jokes/{{joke.ref}}">{{joke.title}}</a>
                <a routerLink="/profile/{{joke.username}}">{{joke.username}}</a>
            </li>
        </ul>
    </div>
</div>


