<div class = "commentForm" *ngIf="authService.loggedIn()">
    <form [formGroup] = "commentForm" (submit) = "creteNewComment()">
        <div class="form-group">
            <textarea class="form-control" rows="5" formControlName = "comment"></textarea>
            <div *ngIf="commentForm.controls.comment.errors && commentForm.controls.comment.dirty" class="alert alert-danger">
                <div *ngIf="commentForm.controls.comment.errors?.required">
                    comment is required.
                </div>
                <div *ngIf="commentForm.controls.comment.errors?.minlength && !commentForm.controls.comment.errors?.required">
                    comment should have at least 5 characters.
                </div>
                <div *ngIf="commentForm.controls.comment.errors?.maxlength && !commentForm.controls.comment.errors?.required">
                    comment should not exceed 1000 characters long.
                </div>
            </div>
        </div>
        <div class = "footer">
            <p>Character Left: {{1000-commentForm.get('comment').value.length}}</p>
            <button type="submit" [disabled] = "commentForm.controls.comment.errors || !commentForm.controls.comment.dirty" class="btn btn-success">Post Comment</button>
        </div>
    </form>
</div>
<div *ngIf="!authService.loggedIn()">
    Oops. It seems like you didn't log in.
</div>
<div class = "row  show-hide-message">
    <div [ngClass] ="messageClass">
        {{ message }}
    </div>
</div>
<div class = "comment" *ngFor="let comment of comments?.comments">
    <p>{{comment.comment}}</p>
</div>
