<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink = "/">Happierday</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="nav-item" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link" routerLink = "/">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item "  *ngIf= "!logedIn" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link"  routerLink = "/login">Login</a>
                </li>
                <li class="nav-item " *ngIf= "!logedIn" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link"  routerLink = "/signup">Signup</a>
                </li>
                <li class="nav-item "  *ngIf= "logedIn" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link"  routerLink = "/profile">Profile</a>
                </li>
                <li class="nav-item "  *ngIf= "logedIn" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">
                    <a class="nav-link"  href="#" (click)="onLogOut()" >Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
